NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://shuffle:postgres@localhost:5432/shuffle-dev

POSTGRES_USER=shuffle
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shuffle-dev
POSTGRES_PORT=5432

NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
